body {
  background-color: #212426;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.stock > div {
  border-radius: 10px;
  margin: 2px;
  width: 150px;
  height: 230px;
  padding: 16px;
  text-align: center;
}

.wsb-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}

.title {
  color: white;
  font-size: 48px;
}

.title-span {
  color: lightgreen;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  opacity: 0.5;
}

.bull {
  color: darkgreen;
}

.bear {
  color: darkred;
}

.bull-div {
  background-color: lightgreen;
}

.bear-div {
  background-color: lightcoral;
}

a {
  box-shadow: inset 0 0 0 0 purple;
  color: purple;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
a:hover {
  box-shadow: inset 100px 0 0 0 purple;
  color: white;
}

@media screen and (max-width: 600px) {
  .wsb-title {
    margin: 1.5rem;
    display: flex;
    flex-wrap: wrap;
  }
}

